{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Index - {{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}

{% if is_granted('ROLE_USER') %}
  
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
<div class="well">
VISUAL TOOLS
<ul>
<li><a href="{{ path('admin_dataanalysis') }}">Data Visualization</a></li>
</ul>
</div>

<div class="well">
MANAGING THE DATA
<ul>
<li><a href="{{ path('admin_getadmindata') }}">Get Admin Data</a></li>
<li><a href="{{ path('admin_getdatedata') }}">Get Date Data</a></li>
<li><a href="{{ path('admin_gettracebackdata') }}">Get Traceback Data</a></li>

<li><a href="{{ path('admin_modifydatedata') }}">Modify Date Data</a></li>
<li><a href="{{ path('admin_modifyadmindata') }}">Modify Admin Data</a></li>
</ul>
</div>

<div class="well">
MANAGING THE MONEY
<ul>
<li><a href="{{ path('admin_getexpcoffee') }}">Get ExpCoffee Data</a></li>
<li><a href="{{ path('admin_getnormcoffee') }}">Get NormCoffee Data</a></li>
<li><a href="{{ path('admin_getupdatedlabel') }}">Get UpdatedLabel Data</a></li>

<li><a href="{{ path('admin_modifyexpcoffee') }}">Modify ExpCoffee Data</a></li>
<li><a href="{{ path('admin_modifynormcoffee') }}">Modify NormCoffee Data</a></li>
<li><a href="{{ path('admin_modifyupdatedlabel') }}">Modify UpdatedLabel Data</a></li>

<li><a href="{{ path('admin_addmoney') }}">Add Money to a user</a></li>
</ul>
</div>

<div class="well">
MANAGING THE ADMIN-USER
<ul>
<li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
</ul>
</div>

{% endif %}

{% if is_granted('ROLE_RASPI') %}
<div>
<div class="well">
MANAGING THE RASPI-USER
<ul>
<li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
</ul>
</div>
{% endif %}

{% endblock %}
